
/* CustomButton.css */
.MuiButton-root.myButton-dark {
    background-color: black; /* Set your desired background color */
    color: #ffffff; /* Set the text color to make it readable */
  }
  

.MuiButton-root.myButton-light {
    background-color: lightblue;
}